
<div class="card1"  >

    <div class="card-body">
        <h2 style="text-align: center">About</h2><br>
        <p _ngcontent-c9="">
            Sprint is a minimalist desktop time management application inspired by the
            <a style="text-decoration: underline; cursor: pointer; color: black" href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a>.
          </p>

          <p _ngcontent-c9="">
            Choose a sprint length, enter a brief description of the activity, and get things done.
          </p>

          <p _ngcontent-c9="">
            Preferred browser: <a style="text-decoration: underline; color: black" href="https://www.google.com/chrome/">Chrome</a>.
          </p>

          <p _ngcontent-c9="">
            <span _ngcontent-c9="" style="text-decoration: underline; cursor: pointer">Terms and conditions</span>.
           </p>
    </div>
  </div>



  <div class="card2" >

      <strong class="mat-button-wrapper">version 0.2</strong> <br><br>
      <strong class="mat-button-wrapper">Report bug</strong>
  </div>
