

.card1 {

  box-shadow: #666 0px 0px 5px;

float: left;
position: absolute;
margin: auto;

width: 20%;
margin-top: 3%;
margin-left: 40%;
}

.card2 {


float: left;

width: 24%;
margin-top: 525px;
margin-left:45%;
}
.card1 p {

  font-size: 19px;
}
