
<div class="card1"  >

    <div class="card-body">
        <h2 style="text-align: center">About</h2><br>
        <p _ngcontent-c9="">
            Sprint is a minimalist desktop time management application inspired by the
            <a style="text-decoration: underline; cursor: pointer; color: black" href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a>.
          </p>

          <p _ngcontent-c9="">
            Choose a sprint length, enter a brief description of the activity, and get things done.
          </p>

          <p _ngcontent-c9="">
            Preferred browser: <a style="text-decoration: underline; color: black" href="https://www.google.com/chrome/">Chrome</a>.
          </p>




            <button type="button" class="btn btn-link" style="text-decoration: underline; color: black ;
             font-size: 18px ; margin-left: -14px" data-toggle="modal" data-target="#myModal">
                Terms and conditions
            </button>





           <!-- Modal -->
           <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-body">
                  <h1>Terms and Conditions</h1><br>

                     <p>1, You understand this is an alpha version.</p>
                     <p>Long term persistence of your data is not guaranteed.</p>
                      <p style="text-align: center">version 0.2</p>
                </div>

              </div>
            </div>
          </div>
    </div>
  </div>



  <div class="card2" >

      <strong class="mat-button-wrapper">version 0.2</strong> <br><br>
     <a href="#"> <strong class="mat-button-wrapper"> Report bug</strong></a>
  </div>
